.search-bar-container, .item-car-container {
    padding: 20px;
}

.search-bar-container{
    text-align: center;
}

.item-car-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 30%));
    gap: 20px;
    grid-template-rows: auto;
    justify-content: center;
}

.full-search-bar {
    width: 40%;
    margin: auto;
}

.subtitle{
    font-weight: bold;
}

@media (max-width: 768px) {
    .full-search-bar {
        width: 100%
    }
}