<div class="container">
  <section class="search-bar-container">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <input type="text" placeholder="Buscar especialista" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.firstName}} {{option.profession}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </section>
  <section class="item-car-container">

  </section>
</div>