.search-bar-container, .item-card-container {
    padding: 20px;
}

.search-bar-container{
    text-align: center;
}

.item-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 30%));
    gap: 20px;
    grid-template-rows: auto;
    justify-content: center;
}

.item-faq-container{
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.full-search-bar {
    width: 40%;
    margin: auto;
    text-align: center;
}

.subtitle{
    font-weight: bold;
}

.spinner {
    margin: auto !important;
    margin-top: 140px !important;
}

.subtitle-container{
    margin: 5px 0 5px 0;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 100;
}

.hero{
    text-align: center;
}

.faq-back{
    font-weight: bold;
    font-size: 22px;
}

.faq-back:hover, .faq-action:hover{
    cursor: pointer;
    color: cadetblue;
}

.faq-action{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

@media (max-width: 768px) {
    .full-search-bar {
        width: 100%
    }
}