<div class="container">
  <section class="search-bar-container">
    <form class="example-form">
      <mat-form-field class="full-search-bar" appearance="fill">
        <input (keyup)="filter($event)" type="text" placeholder="Buscar especialista" matInput [formControl]="myControl">
      </mat-form-field>
    </form>
  </section>
  <section class="item-car-container">
    <div *ngFor="let item of filteredData">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title> {{ item.firstName }} </mat-card-title>
          <mat-card-subtitle> {{ item.profession }} </mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        </mat-card-title-group>
        <mat-card-content>
          Test
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>