.search-bar-container, .item-car-container {
    padding: 20px;
}

.search-bar-container{
    text-align: center;
}

.item-car-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 30%));
    gap: 20px;
    grid-template-rows: auto;
    justify-content: center;
}

.full-search-bar {
    width: 40%;
    margin: auto;
    text-align: center;
}

.subtitle{
    font-weight: bold;
}

.spinner {
    margin: auto !important;
    margin-top: 140px !important;
}

.subtitle-container{
    margin: 5px 0 5px 0;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 100;
}

.hero{
    text-align: center;
}

.faq{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.faq:hover{
    color: cadetblue;
    cursor: pointer;
}
.faq-back{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .full-search-bar {
        width: 100%
    }
}